/* Importing the 'Mona Sans' font */
@font-face {
    font-family: 'Mona Sans';
    src: url('MonaSans.woff2') format('woff2'),
         url('MonaSans.woff') format('woff');
}

/* General Styling */
body {
    background-color: #181a1b;
    color: #a8a8a8;
    font-family: 'Mona Sans', sans-serif;
    background-image: url('Photo/1.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 40%;

}


/* Header Styling */
#aboutMe {
    text-decoration: underline;
    color: #a8a8a8;
    cursor: pointer; /* Changes the cursor to a hand when hovering over the header */
    font-size: 15;
    padding: 10px; /* Adds some space around the header */
    border: 1px solid #a8a8a8; /* Adds a border around the header */
    border-radius: 5px; /* Rounds the corners of the border */
    display: inline-block; /* Allows the border to fit the content */
}

/* Student Info Styling */
#studentInfo p {
    margin: 0.2em 0; /* Adjust this value to change the space between the lines */
    font-family: 'Mona Sans', sans-serif;
    font-size: 14px;
}

.label {
    display: inline-block;
    width: 200px; /* Adjust this value to change the alignment */
    text-align: left;
    margin-right: 10px;
    vertical-align: middle;
}

.value {
    display: inline-block;
    text-align: left;
}
