/* Importing the 'Mona Sans' font */
@font-face {
    font-family: 'Mona Sans';
    src: url('MonaSans.woff2') format('woff2'),
         url('MonaSans.woff') format('woff');
}

/* General Styling */
body {
    background-color: #181a1b;
    color: #a8a8a8;
    font-family: 'Mona Sans', sans-serif;

    background-position: right center;
    background-repeat: no-repeat;
    background-size: 40%;

}


/* Header Styling */
#aboutMe {
    background-color: #181a1b; /* Change this to the color you want */
    color: #a8a8a8; /* Change this to the color you want */
    padding: 10px 20px; /* Adjust this to change the size of the button */
    text-decoration: none;
    border-radius: 5px; /* Adjust this to change the roundness of the button corners */
    transition: background-color 0.3s ease; /* This adds a smooth transition effect when the button is hovered over */
    font-weight: bold;
}
#aboutMe:hover {
    background-color: #a8a8a8; /* Change this to the color you want when the button is hovered over */
    color: #181a1b; /* Change this to the color you want when the button is hovered over */
}

/* Student Info Styling */
#studentInfo p {
    margin: 0.2em 0; /* Adjust this value to change the space between the lines */
    font-family: 'Mona Sans', sans-serif;
    font-size: 14px;

}

.label {
    display: inline-block;
    width: 200px; /* Adjust this value to change the alignment */
    text-align: left;
    margin-right: 10px;
    vertical-align: middle;
}

.value {
    display: inline-block;
    text-align: left;
}
