/* Importing the 'Mona Sans' font */
@font-face {
    font-family: 'Mona Sans';
    src: url('MonaSans.woff2') format('woff2'),
         url('MonaSans.woff') format('woff');
}

/* Styling for the body */
body {
    background-color: #24292e; /* Dark gray color */
    color: #ffffff; /* White color */
    font-family: 'Mona Sans', sans-serif;
}

/* Styling for the h2 elements */
h2 {
    text-decoration: underline;
}

/* Styling for the table headers */
#a, #b, #c {
    text-decoration: underline;
}

/* Styling for the table */
table {
    border-collapse: collapse; /* Removes the extra borders */
}

/* Styling for the table cells */
th, td {
    border: 1px solid #dddddd; /* Adds a border around the cells */
    text-align: center; /* Centers the text */
    vertical-align: middle; /* Aligns it vertically in the middle */
    padding: 8px;
}

/* Styling for the table header */
th {
    background-color: #f2f2f2; /* Adds a gray background to the header row */
}

/* Styling for the table id 'myTable' */
#myTable {
    display: none;
}

/* Styling for the button id 'toggleButton' */
#toggleButton {
    background-color: #24292e; /* Dark gray color */
    color: #ffffff; /* White color */
    border: 2px solid #ffffff; /* Adds a white border */
    padding: 10px 20px; /* Reduces the size of the button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Reduces the font size */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#backButton {
    background-color: #24292e; /* Dark gray color */
    color: #ffffff; /* White color */
    border: 2px solid #ffffff; /* Adds a white border */
    padding: 10px 20px; /* Reduces the size of the button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Reduces the font size */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#backButton {
    display: none;
    /* rest of your styles... */
}